<head>{% load staticfiles%}
    <link rel="stylesheet" href="{% static 'user/design.css' %}" >
  <style>
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    select {
      width: 50%;
      padding: 13px 21px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    

  input[type=submit] {
  background-color:#4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  border-radius: 12px;
}
button:hover {
  opacity: 0.8;

}

    </style>
    </head>

<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3 class="text-success">{{comments.count}} Comments</h3>
                <hr/>
                <i class="pull-right">{% csrf_token %} <form method='POST' action={% url 'comment' %}> {% csrf_token %} <label><strong>Add Your Comments</strong></label><input type='text'   name='comment' required/>
                  <label>Choose A Person</label>
                  <select name="menu" >
                    {% for each in u %}
                    {% load staticfiles%}                
                    <img src="{% static 'user/'|add:each.first_name|add:'.jpg' %}" width="150" height="150" >
                    <option value="{{each.id}}">{{each.first_name}}</option>
                   
                    {% endfor %}
                  </select>
                  
                  <input type='submit' value='Post' /></form></i>
                {% for comment in comments %}
				<ul class="comments">
				<li class="clearfix">
         
				  <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="" >
				  <div class="post-comments">
				      <p class="meta">At {{comment.created_at}} &nbsp; to {{comment}}</p>
           
<body>
				      <p>
                
				          {{comment.comment}}
              </p>
              <i class="pull-right">{% csrf_token %} <form method='POST' action={% url 'reply' comment.id %}> {% csrf_token %} <input type='text'  name='reply' required/><input type='submit' value='reply' /></form></i>
              <a onclick="getElementById('{{comment.id}}').innerHTML='{% for reply in comment.reply_set.all %}<ul><li><div ><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>At {{reply.created_at}}</strong> </p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{reply.comments}}</p></div></li></ul> {% endfor %}'">{% if comment.reply_set.all.count %}{% if comment.reply_set.count == 1%}{{comment.reply_set.all.count}} Reply{% else %}{{comment.reply_set.all.count}} Replies{% endif %}{% endif %}</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="getElementById('{{comment.id}}').innerHTML=''">{% if comment.reply_set.all.count %}Close{% endif %}</a>
              
				  </div>
        </li>
        <div id='{{comment.id}}'></div>
        
        
			
    </ul>
        
        {% endfor %}
        
       
			</div>
		</div>
	</div>
</div>

  


</body>